*{
	margin: 0px;
	padding: 0px;

}
.top{
	width:100%;
	background-color:green !important;
	border-bottom:2px solid #f0f0f0;
}
.top div{
	width:80%;
	color:#fff;
	background-color:red !important;
	font-family:calibri;
	padding:10px;
	text-align:right;
}

body{


	font-size: 120%;
	background-color: #F8F8FF;
}



.header{
	

}

form, .content{
	width: 30%;
	margin: 0px auto;
	padding: 20px;
	border:1px solid #BOC4DE;
	background: white;
	border-radius: 0px 0px 10px 10px;
} 


.input-group{

		margin: 10px 0px 10px 0px;

}


.input-group label {
	display: block;
	text-align: left;
	margin: 3px;


}

.input-group input{

	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;


}

.btn{
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #5F9EA0;
	border: none;
	border-radius: 5px;

}

.error{
	color:#3c763d;
	background: #dff0d8;
	border: 1px solid #3c763d
	margin-bottom:20px; 
}




